# Output file
Euler.log
ProjectEuler
ProjectEulerTest

# IDE files
.idea/
.cproject
.project
.settings/
.vscode/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake-build-*/
cmake_install.cmake
Makefile

# Library files
*.so
*.prof
